.navBarBody {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(24, 23, 23, 0.438);
}

.navBarButtons{
    display: flex;
    justify-content: space-between;
}

.navBarButtons Button{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.navBarImg{
    margin: 5px;
}